* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
}

/* View Animation */
.appear {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

.appear.inview {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* Navbar */
.logo {
  height: 2rem;
  width: 2rem;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 2rem 1rem 2rem 2.6rem;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  position: fixed;
  width: 100%;
  background-color: #0a192fc1;
  backdrop-filter: blur(10px);
  z-index: 100;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}
.nav-items li {
  list-style-type: none;
}

.nav-items li a {
  text-decoration: none;
  color: #ccd6f6;
}

.nav-items li a:hover {
  color: rgb(63, 255, 255);
}

.nav-items li button {
  border-width: 1px;
  border-style: solid;
  border-color: aqua;
  background-color: #0a192f;
  padding: 0.3rem 1rem;
  color: #ccd6f6;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all;
  transition-duration: 700ms;
  transition-timing-function: ease-in-out;
  box-shadow: inset 0 0 0 0 aqua;
  outline: none;
}

.nav-items li button:hover {
  box-shadow: inset 6rem 0 0 0 rgba(0, 255, 255, 0.655);
  color: #0a192f;
}

/* Lonks */
.links {
  position: fixed;
  top: 40%;
  left: 3rem;
  height: 60%;
}
.link-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.link-items li {
  list-style-type: none;
}
.link-items li a {
  text-decoration: none;
  color: #ccd6f6;
}
.link-items li a:hover {
  color: rgb(63, 255, 255);
}
.link-items li a:hover svg {
  transition: all;
  transition-duration: 700ms;
  transition-timing-function: ease-in-out;
  translate: 0 -0.5rem;
}

/* Home */
#Home {
  padding: 3.5rem 5rem 0rem 8rem;
  display: flex;
  align-items: center;
}

#Home h1 {
  font-size: 5rem;
  color: rgb(71, 247, 188);
  font-family: "Lobster", cursive;
  line-height: 1;
}

#Home p {
  font-size: 2rem;
  color: #ccd6f6;
  font-family: "Fira code", "monospace";
  margin-top: 0.5rem;
}

.wrap {
  color: #898aa6;
  font-weight: lighter;
  font-size: 2.5rem;
  font-family: "Fira code", "monospace";
}

.HeroImage {
  height: 30rem;
  width: 35rem;
}

.contact_btn {
  border-width: 1px;
  border-style: solid;
  border-color: aqua;
  background-color: #0a192f;
  padding: 0.5rem 1rem;
  color: #ccd6f6;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all;
  transition-duration: 700ms;
  box-shadow: inset 0 0 0 0 rgba(117, 250, 250, 0.434);
  transition-timing-function: ease-in-out;
  outline: none;
  margin-top: 1.5rem;
}

.contact_btn:hover {
  box-shadow: inset 8rem 0 0 0 rgba(0, 255, 255, 0.655);
  color: #0a192f;
}

/* About */
#About {
  padding: 4rem 5rem 5rem 8rem;
  font-family: "Inter", "cursive";
}

.Heading {
  color: #ccd6f6;
  display: flex;
  align-items: center;
}

.Data {
  color: white;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  font-family: "Fira code";
}

.Info {
  flex: 1;
  font-size: 1rem;
  color: #8892b0;
  line-height: 26px;
}

.Info ul {
  line-height: 2;
}

.image {
  flex: 1;
}

.image img {
  height: 25rem;
  width: 20rem;
  border-radius: 20px;
  position: relative;
  left: 20%;
  box-shadow: 10px 10px #ccd6f6;

}

.list-h {
  display: flex;
  margin-top: 1rem;
}

.list-v-1 {
  line-height: 2;
  flex: 1;
}

.list-v-2 {
  line-height: 2;
  flex: 2;
}

.list-items {
  display: flex;
}

.list-items .arrow-icon {
  color: aqua;
  margin-right: 0.5rem;
}

/* Contact */
#Contact {
  padding: 4rem 5rem 3rem 8rem;
  font-family: "Inter", "cursive";
}

.Contact-heading {
  color: #ccd6f6;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.Contact-data {
  color: white;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  font-family: "Fira code";
  justify-content: center;
  padding: 2rem 0;
}

.Contact-info {
  flex: 1;
  font-size: 1rem;
  color: #8892b0;
  line-height: 26px;
}

.Contact-info h1 {
  color: #ccd6f6;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Abel";
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.inputs input {
  width: 45%;
}

input {
  padding: 1rem;
  outline: none;
  border: 1px solid #0a192f;
  border-radius: 5px;
  background-color: #182438;
  color: white;
  margin-bottom: 1rem;
  font-family: "Fira Code";
}

input:focus {
  border: 1px solid aqua;
  border-spacing: 1rem;
}

input::-webkit-input-placeholder {
  color: #ccd6f6;
}

textarea {
  padding: 1rem;
  outline: none;
  border: 1px solid #0a192f;
  border-radius: 5px;
  background-color: #182438;
  color: white;
  margin-bottom: 1rem;
  resize: none;
  font-family: "Fira Code";
}

textarea:focus {
  border: 1px solid aqua;
  border-spacing: 1rem;
}

textarea::-webkit-input-placeholder {
  color: #ccd6f6;
}

.send {
  border-width: 1px;
  border-style: solid;
  border-color: aqua;
  background-color: #0a192f;
  padding: 1rem;
  width: 10rem;
  color: #ccd6f6;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all;
  transition-duration: 700ms;
  transition-timing-function: ease-in-out;
  box-shadow: inset 0 0 0 0 aqua;
  outline: none;
  align-self: center;
}

.send:hover {
  box-shadow: inset 10rem 0 0 0 rgba(0, 255, 255, 0.655);
  color: #0a192f;
}

/* Project */
#Project{
  color: #898aa6;
  padding: 4rem 5rem 5rem 8rem;
}

.Project-heading {
  color: #ccd6f6;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  font-family: 'Inter';
}
.project-list{
  display: flex;
  padding: 1rem 0;
}

.project {
  border-radius: 5px;
  border: 1px solid white;
  padding: 0.5rem;
  width: 20rem;
  height: 25rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: all;
  transition-duration: 700ms;
  transition-timing-function: ease-in-out;  
  font-family: "Fira Code", monospace;
}
.project-img{
  width: 100%;
  height: 12rem;
  margin-bottom: 1rem;
  object-fit: cover;
}

.project h1{
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.project p{
  font-weight: 400;
  margin-bottom: 1rem;
}

.project-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-links button{
  border-width: 1px;
  border-style: solid;
  border-color: aqua;
  background-color: #0a192f;
  padding: 0.5rem;
  width: 4rem;
  color: #ccd6f6;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all;
  transition-duration: 700ms;
  transition-timing-function: ease-in-out;
  box-shadow: inset 0 0 0 0 aqua;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-links button:hover {
  box-shadow: inset 10rem 0 0 0 rgba(0, 255, 255, 0.655);
  color: #0a192f;
}
